fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
mediapipe
huggingface_hub
numpy<2
pandas
torch
torchvision
transformers
insightface
onnxruntime
aiofiles
gspread
google-auth
reportlab
Pillow